<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.js"></script>

<head>
	<meta charset="utf-8">
	<title>mySquareMeal - Restaurants</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
	<!-- bootstrap -->
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="../static/css/bootstrappage.css" rel="stylesheet" />

	<!-- global styles -->
	<link href="../static/css/flexslider.css" rel="stylesheet" />
	<link href="../static/css/main.css" rel="stylesheet" />

	<!-- scripts -->
	<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/js/superfish.js"></script>
	<script src="../static/js/jquery.scrolltotop.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js	"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--
	<script>

        $(function() {

            var div = $('#r_details');
            var ul = $('#r_list');
            var r_data = [];
            var i;
            //var restaurants_data = angular.element(document.querySelector('[ng-controller="restaurants_app_controller"]')).scope().restaurants_data
            //var restaurants_data = $('[ng-controller="add"]').scope().restaurants_data;
			//console.log(restaurants_data)
			restaurants_data = {}
            $.getJSON(restaurants_data, function(data) {
                $.each(data, function(i, f) {
                    r_data.push([f.restaurant_name, f.address.street_address, f.address.city, f.address.zip, f.menu_data]);
                    ul.append('<li class="span3"><div class="product-box"><span class="sale_tag"></span><br/><a class="rest_details" href="#' + i + '">' + f.restaurant_name + '</a><br/></div>')
                });
                $('.rest_details').on('click', addContent);
            });

            function addContent(e) {
                //alert($(this).text());
                Cookies.set('restaurant_name', $(this).text());
                window.location.href = "restaurant_detail.html";
            }
        });

	</script>
	-->

	<script>

        document.cookie = "rest_name"+'=; Max-Age=-99999999;';
        menu_details = function (id) {
            console.log('hi')
			//var data = document.getElementById(rest_name).textContent;
            console.log(id)
            angular.element(document.getElementById(id)).scope().redirect_to_details(id);
        }
	</script>
</head>

<body ng-app="restaurants_app" ng-controller="restaurants_app_controller">
<div id="top-bar" class="container">
	<div class="row"></div>
	<div class="span11">
		<div class="account pull-left ">
			<img src="../static/images/logo.png" width=50% height=50% alt="logo"> </img>
		</div>
		<div class="account pull-right">
			<ul class="user-menu">
				<li><a href="{{url_for('home_redirect')}}">Home</a></li>
				<li><a href="{{url_for('profile_redirect')}}">Profile</a></li>
				<li><a href="{{url_for('map_redirect')}}">Switch to Map View</a></li>
				<li><a href="{{url_for('logout_redirect')}}">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="wrapper" class="container">

	<section class="main-content">

		<div class="row">

			<div class="span12">
				<ul class="thumbnails listing-products" id = "r_list" data-role="listview">
					<!--<li class="span3"><div class="product-box"><span class="sale_tag">{{each}}</span></div></li>

					<li class = class="span3" ng-repeat="each in restaurants_name_array">
						<div class="product-box">
							<span class="sale_tag"></span>
								<br/><a class="rest_details">'hi'</a><br/>

						</div>
					</li>-->



				</ul>
				<div>

				</div>
				<div id = "r_details" class = "text-center"></div>
			</div>
		</div>
	</section>
	<section id="copyright">
		<span>copyright Mandar Gade, Neha Kumar, Varun Shah, Setu Pandya, San Jose State University</span>
	</section>
</div>
<script src="../static/js/common.js"></script>
<script src="../static/restaurants.js"></script>
</body>

</html>