<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>mySquareMeal - Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="../static/css/flexslider.css" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/superfish.js"></script>
    <script src="../static/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="top-bar" class="container">
    <div class="row"></div>
    <div class="span11">
        <div class="account pull-left ">
            <img src = "../static/images/logo.png" width = 50% height = 50% alt = "logo"> </img>
        </div>
        <div class="account pull-right">
            <ul class="user-menu">
                <li><a href={{url_for('login_redirect')}}>Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="container">

    <section class="main-content">

        <div class="row">
            <div class="span12">
            <h1 class="text-center">mySquareMeal</h1>
            </div>
            <div class="span12">
                <h5 class="text-center"><br><br><br><p>mySquareMeal provides people with an option to choose healthy meals
                    <br>based on their pre-existing health conditions and food preferences
                <br>It utilizes the power of Machine Learning to recommend the best possible options
                    <br><br><br><br>Come and experience healthy delicious meal options</p>
                </h5>
            </div>
        </div>
    </section>
    <section id="copyright">
        <span>copyright Mandar Gade, Neha Kumar, Varun Shah, Setu Pandya, San Jose State University</span>
    </section>
</div>
<script src="../static/js/common.js"></script>
</body>

</html>